<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<link rel='stylesheet' href='css/style.css' type='text/css' />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel="icon" href="/img/overcast.png">
		<title>About</title>
	</head>
	<body>

		<div id="bg-image-layer"></div>

		{{>header}}
		<div class='container'>
			<h4>This site was created by {{name}}.</h4>
		<p>
<br> ● Weather Application is a weather App that fetches accurate real-time weather conditions of any given location worldwide.
<br> ● Html, CSS, Node.js(Express), Mapbox API, Weatherstack API.
<br> ● Used third-party services(API) to fetch geolocation and real-time weather data. With Node.js(Express) I convert the location data to a forecast and then rents them to the screen of the user with Html, and styles the application with CSS. 
</p>
		</div>
		{{>footer}}
	<script type='text/javascript' src='js/script.js'></script>
		<script type='text/javascript' src='js/nav.js'></script>
	</body>
</html>