<header class='primary-header flex'>

	<h1>{{title}}</h1>

	<button class='mobile-nav-toggle' aria-controls='primary-navigation' aria-expanded='false'>
		<span ><svg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 1024 1024' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'><path
					d='M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z'
				></path></svg></span>
	</button>

	<nav>
		<ul id='primary-navigation' data-visible='false' class='primary-navigation flex'>
			<li class='active'>
				<a href='/'>
					<span aria-hidden='true'>⛅</span>Weather
				</a>
			<li>
				<a href='/about'>
					<span aria-hidden='true'>⛅</span>About
				</a>
			<li>
				<a href='/help'>
					<span aria-hidden='true'>⛅</span>Help
				</a>
		</ul>
	</nav>
</header>