body {
	color: #333333;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0 20px;
	flex-grow: 1;
	background: #222;
	background-image: url('https://source.unsplash.com/1600x900/?weather');
	overflow-x: hidden;
	background-size: cover;
}

footer {
	color: #888888;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 16px;
	padding: 16px;
}

.description {
	font-size: 2rem;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}

.search {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

input.search {
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	border-radius: 24px;
	background-color: hsla(0, 8%, 20%, 0.304);
	color: aliceblue;
	font-family: inherit;
	font-size: 120%;
}

::placeholder {
	color: hsla(0, 0%, 100%, 0.532);
}

.portrait {
	width: 450px;
}

h4 {
	color: aliceblue;
	margin: 5px;
	font-weight: 900;
	text-shadow: 2px 2px 4px #000000;
}

p {
	text-align: center;
	color: aliceblue;
	text-shadow: 2px 2px 4px #000000;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*flex-grow: 1;*/
	border-bottom: 1px solid hsl(0, 0%, 53%);
	background: hsl(0 0% 100% / 0.2);
	backdrop-filter: blur(1rem);
	padding: 2rem;
	border-radius: 30px;
	width: 100%;
	max-width: 420px;
	margin: 2rem;
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
}

button {
	cursor: pointer;
	border: 1px solid #888888;
	color: white;
	padding: 8px;
	margin: 0.5rem;
	border-radius: 50%;
	border: none;
	height: 46px;
	width: 46px;
	outline: none;
	background: hsla(0, 8%, 20%, 0.304);
	transition: 0.2s ease-in-out;
}

button:hover {
	background: hsla(0, 6%, 66%, 0.42);
}

#messageError,
#messageLocation {
	text-align: center;
	color: aliceblue;
	text-shadow: 2px 2px 4px #000000;
	margin: 5px 10px;
	padding: 5px 10px;
}

/*======================*/
/*------ NAV BAR ------*/

/* primary header */
h1 {
	font-size: 3.5rem;
	margin: 1rem;
	padding: 1rem;
	color: aliceblue;
	text-shadow: 2px 2px 4px #000000;
}

primary-header {
	align-items: center;
	justify-content: space-between;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 0.4rem;
	margin: 0 0 0 0.8rem;

	background: hsl(0 0% 0% / 0.5);

	border-radius: 20px;
}

@supports (backdrop-filter: blur(1rem)) {
	.primary-navigation {
		background: hsl(0 0% 100% / 0.2);
		backdrop-filter: blur(1rem);
	}
}

.primary-navigation a {
	text-decoration: none;
	color: aliceblue;
	text-shadow: 2px 2px 4px #000000;
}

.primary-navigation a > [aria-hidden='true'] {
	font-weight: 700;
	margin-inline-end: 0.75em;
}

@media screen and (max-width: 600px) {
	.primary-navigation {
		--gap: 2.5rem;

		position: fixed;
		z-index: 1000;
		inset: 0 0 0 30%;

		flex-direction: column;
		padding: min(30vh, 10rem) 2rem;

		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	h1 {
		font-size: 2.3rem;
		margin: 1rem 1rem 1rem 0;
		padding: 1rem 1rem 1rem 0;
	}

	h4 {
		font-size: 3.5vw;
	}

	.primary-navigation[data-visible='true'] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		/*background-color: transparent;*/
		background-repeat: no-repeat;
		width: 2rem;
		border: 0;
		aspect-ratio: 1;
		right: 1.5rem;
	}

	.container {
		padding: 0.5rem;
		margin: 0.5rem;
		margin-bottom: 2rem;
		border-radius: 15px;
		width: 100%;
	}

	input.search {
		padding: 0.5rem 0.6rem;
		font-size: 100%;
		width: 100%;
	}

	p {
		font-size: 0.8rem;
	}

	button {
		padding: 8px;
		margin: 0.5rem;
		border-radius: 50%;
		height: 40px;
		width: 40px;
	}

	#messageError,
	#messageLocation {
		margin: 5px 10px;
		padding: 5px 10px;
		font-size: 1.1rem;
	}
}

@media (min-width: 25rem) and (max-width: 55rem) {
	.primary-navigation a > span[aria-hidden] {
		display: none;
	}

	a {
		margin: max(0.4rem) 0.2rem;
		padding: max(0.5rem) 0.2rem;
	}

	h1 {
		font-size: 2.3rem;
		margin: 1rem 1rem 1rem 0;
		padding: 1rem 1rem 1rem 0;
	}
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

header.primary-header {
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
